<div id="modalBackground">
    <div id="modal">
        <strong>Welcome</strong>
        <p id=modaltext>This site is still under construction. In the meantime, feel free to take a look at my resume!</p>
    </div>
</div>
<div id="emptyContainer"></div>
<div id="cvContainer">
    <img id="cv" src="cv.png">
</div>
<div id="emptyContainer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js"></script>
